* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding:0;
    margin:0;
    color:black;
    text-decoration: none;
}

.share-button {
    width:64px;
    height:64px;
}

.card {
    transition:0.1s ease-in-out;
    display:inline-block;
    margin:8px;
    width:100px;
    height:153px;
    background-size:104px 155px;
    background-position:center;
    background-image: url("../img/red_back.png");
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    border-radius:10px;
    background-color:black;
}

.card:hover {
    transition:0.1s ease-in-out;
    margin:5px 5.3px;
    width:106px;
    height:159px;
    background-size:110px 161px;
    box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
}

#container {
    top:0px;
    position:relative;
    width:100%;
    max-width:1568px;
    display:block;
    margin:8px auto;
}

.unflip {
    animation:flipped ease-in-out 0.3s !important;
}

.flipped {
    animation:flipped ease-in-out 0.3s;
}

.on-screen {
    width:320px;
    height:400px;
    background-color:white;
    box-shadow: 0px 0px 500px black;
    display:block;
    position:relative;
    margin:80px auto;
    z-index: 200;
}

.on-screen h1{
    text-align: center;
    padding:4px;
}

.on-screen p {
    padding:8px;
}

.on-screen img.gif {
    width:300px;
    margin:10px;
    left:0;
    position:absolute;
    bottom:0;
}

#dark-bg {
    background-color:rgba(0, 0, 0, 0.5);
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    z-index: 199;
}

button, #dark-bg, .card {
    cursor: pointer;
}

@keyframes flipped {
    0% {transform:scaleX(1);box-shadow: 5px 3px 4px rgba(0,0,0,0.5);}
    50% {transform:scaleX(0);box-shadow: 4px 3px 5px rgba(0,0,0,0.4)}
    100% {transform:scaleX(1);box-shadow: 3px 3px 4px rgba(0,0,0,0.5);}
}

.invis {
    opacity: 0.4;
}

.d-none {
    display:none !important;
}

#msgWindow {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    pointer-events: none;
    font-size: 48px;
    text-align: center;
    padding-top: 15%;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 15px black;
    left: 0;
    top: 0;
    display: none;
}

#msgWindow.active {
    animation: complimentAnim ease-in-out 1.15s;
    -moz-animation: complimentAnim ease-in-out 1.15s;
    -o-animation: complimentAnim ease-in-out 1.15s;
    -webkit-animation: complimentAnim ease-in-out 1.15s;
    display: block;
}

#bottomBtn {
    font-size:32px;
    margin:16px 8px;
    padding:6px 24px;
    display:block;
    bottom:0;
    position:absolute;
}

#itemContainer{
    background-color:#D02000;
    padding:16px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#itemContainer div{
    display:flex;
    flex-direction: row;
    margin: 2px 20px;
}
#itemContainer div p, #itemContainer div button {
    margin:2px;
    padding:2px 4px;
    font-size:24px;
}

@keyframes complimentAnim {
    0% {
        font-size: 64px;
        letter-spacing: -4px;
        opacity: 0;
        background: rgba(0, 0, 0, 0);
    }
    25% {
        font-size: 80px;
        letter-spacing: 0px;
        opacity: 1;
        background: rgba(0, 0, 0, 0.15);
    }
    100% {
        font-size: 64px;
        letter-spacing: 8px;
        opacity: 0;
        background: rgba(0, 0, 0, 0);
    }
}